.navUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: rgb(56, 55, 55); */
    /* background-color: #264653; */
    background-color: #0081A7;
    font-family:'Poppins', sans-serif;
  }

  .topnav {
    background-color: #0081A7;
    overflow: hidden;
    font-family:'Poppins', sans-serif;
  }

  .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

  .topnav a:hover {
    background-color: #00AFB9;
    color: #FDCA9B;
  }

  .topnav .icon {
    display: none;
  }
  
  .navL {
    float: left;
  }
  
.navL a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navL a:hover {
    background-color: #00AFB9;
    color: #FDCA9B;
  }

  #challenge4{
    font-family: Arial;

  }
  #results {
    color:rgb(138, 138, 138);
    font-size: 14px;
  }

  .synopsis {
    color:rgb(32, 32, 32);
  }


  /* NOTE: I decided to make rows/columns with flexbox intead of tables, because I know we talked about tables being bad for accessibility in lecture */
  .row {
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
  }
  
  .column {
    flex: 50%;
  }

  .searchEntry {
    margin-top: 40px;
    margin-bottom: 40px;
  }

.typeMoon {
  display: inline;
}

#about {
  margin-left: 5px;
  color: #264653;
  margin-top: 40px;
}

#about, h1 {
  font-family:'Poppins', sans-serif;
}

#about, h2, h3, h4, h5 {
  font-family: 'Cormorant Garamond', serif;
}

p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
}

hr {
  background-color: #0081A7;
  height: 1px;
  width: 40%;
  margin-left: 0%;
}

#about a:link {
  color: #00AFB9;
}

#about a:visited {
  color: #f07167;
}

#about a:hover {
  color: #FDCA9B;
}

.faveList {
  font-size: 1.5rem;
}

.btn-primary {
  background-color: #00AFB9 !important;
  border: #00AFB9 !important;
  border-radius: 25px;
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px;
}

.btn-primary:hover {
  background-color: #0081A7 !important;
}

.btn-primary:active {
  background-color: #f07167;
}

.latestWork {
  margin-left: 95px;
}

.profilePic {
  max-width: 100%;
  /* height: 70%; */
  margin-top: 12%;
}

.profilePicAbout {
  border-radius: 50%;
  max-width: 85%;
  margin-top: 50%;
}
.profileHr {
  background-color: #0081A7;
  height: 1px;
  width: 100%;
  margin-left: 0%;
}

.buttonColumn {
  margin-left: 22%;
  margin-top: 20px;
}

/* QUICK NOTE: A large portion of my responsive design for this site is using Bootstrap's grid system, so please check the HTML for more information
   - it will contain my containers, rows, columns, etc. */

/* When the browser is 400px and below */
@media screen and (max-width: 400px) {

  /* only show home */
  .topnav a:not(:first-child) {
    display: none;
  }

  /* only show hamburger icon when on mobile/small screen */
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  h1 {
    font-size: 8vw;
  }

  h2, h3 {
    font-size: 5vw;
  }

  .latestWork {
    margin-left: 20%;
    max-width: 60%;
  }

  hr {
    width: 100%;
    margin-top: 10%;
  }

  #about
  {
    margin-top: 5%;
  }

  #footerCont {
    padding-bottom: 25px;
  }
  .buttonColumn {
    margin-left: 1%;
    margin-top: 10px;
  }
}

#footerNav {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  width: 20%;
}

.center {
  text-align: center;
  width: 100%;

}

.fa {
  color: #264653;
}

.fa:hover {
  color: #00AFB9;
}

.fa-bars {
  color: white;
}

/* about */
#goals {
  float: right;
  text-align: right;
}

#love h2 {
  font-weight: 600;
}

#goals h2 {
  font-weight:  600;
}

.experience {
  margin-left: 5px;
  color: #264653;
  margin-top: 40px;
}

.experience h2 {
  font-weight: 300;
}

.experience h5 {
  font-weight: 200;
}

#job {
  margin-top: 30px;
  text-align: center;
}

.expHr {
  background-color: #0081A7;
  height: 1px;
  width: 40%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

#job h4 {
  display: none;
}

#job h5 {
  font-size: 1rem;
}

#jobHeader h2 {
  font-size: 1.5rem;
}

#skillsList {
  float: right;
  font-family: 'Cormorant Garamond', serif;
  margin-left: 5px;
  color: #264653;
  margin-top: 13%;
  font-size: 1.5rem;
}

#skillsList h2 {
  font-family: 'Poppins', sans-serif;
  
}


.skillsHr {
  background-color: #0081A7;
  height: 1px;
  width: 60%;
  margin-top: 12%;
  margin-left: auto;
  margin-right: auto;
}


.skillHeading h2 {
  text-align: center;
  font-weight: 300;
}

.skillsRow2 {
  margin-top: 35px;
}

.devTxt {
  text-align: center;
  margin-top: 8px;
}

@media screen and (max-width: 400px) {
  .skillHeading h2 {
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .expRow {
    margin-right: 80%;
  }

}


/* projects */
#projectsHeader {
  margin-left: 5px;
  color: #264653;
  margin-top: 40px;
}

#projectList {
  color: #264653;
}

.projectHr {
  background-color: #0081A7;
  height: 1px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.projectHrMobile {
  background-color: #0081A7;
  height: 1px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  display: none;
}

.projectRow {
  margin-top: 3%;
}

.projectRow h2 {
  text-align: center;
}

.projectRow h5 {
  text-align: center;
}

#projectList a:link {
  color: #00AFB9;
}

#projectList a:visited {
  color: #f07167;
}

#projectList a:hover {
  color: #FDCA9B;
}


@media screen and (max-width: 400px) {
  .projectHrMobile {
    display: inline;
  }
}

/* assignment 11 */

.chickenContainer {
  margin-top: 20%;
}

.azuText {
  margin-top: 30%;
}

/* assignment 12 */
.dogCard {
  margin-top: 70px;

}

#dogButton {
  margin-left: 50px;
}

.dogExpl {
  margin-top: 20px;
}

/* assignment 13 */
.nameCont {
  margin-top: 90px;
}



/* ***** FINAL CSS ****** */
.userForm, .btn-primary {
  padding: 8px 16px;
  margin-top: 20px;
}

/* .pokeCol2 {
  text-align: center;
  margin-left: 50%;
  margin-top: 20px;
}

.pokeContainer {
  margin-left: 20%;
}

@media (min-width: 992px) and (max-width: 1199px) { 
  
} */

@media screen and (max-width: 400px) {
  .pokeCol2 {
    text-align: center;
    margin-top: 20px;
  }
  
  .pokeContainer {
    margin-left: 0%;
  }

  #pokeImg {
    max-width: 250px;
    margin-right: 10px;
  }

  #pokeMusic {
    display: none;
  }

}

