.navUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: rgb(56, 55, 55); */
    /* background-color: #264653; */
    background-color: #0081A7;
    font-family:'Poppins', sans-serif;
  }
  
  .navL {
    float: left;

  }
  
.navL a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navL a:hover {
    background-color: #00AFB9;
    color: #FDCA9B;
  }

  #challenge4{
    font-family: Arial;

  }
  #results {
    color:rgb(138, 138, 138);
    font-size: 14px;
  }

  .synopsis {
    color:rgb(32, 32, 32);
  }


  /* NOTE: I decided to make rows/columns with flexbox intead of tables, because I know we talked about tables being bad for accessibility in lecture */
  .row {
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
  }
  
  .column {
    flex: 50%;
  }

  .searchEntry {
    margin-top: 40px;
    margin-bottom: 40px;
  }

.typeMoon {
  display: inline;
}

#about {
  margin-left: 5px;
  color: #264653;
}

#about, h1 {
  font-family:'Poppins', sans-serif;
}

#about, h2, h3, h4, h5 {
  font-family: 'Cormorant Garamond', serif;
}

p {
  font-family: 'Cormorant Garamond', serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
}

hr {
  background-color: #0081A7;
  height: 1px;
  width: 40%;
  margin-left: 0%;
}

#about a:link {
  color: #00AFB9;
}

#about a:visited {
  color: #f07167;
}

#about a:hover {
  color: #FDCA9B;
}