.navUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(56, 55, 55);
  }
  
  .navL {
    float: left;
  }
  
.navL a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navL a:hover {
    background-color: rgb(108, 114, 104);
  }